<% layout('') -%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
	<link href="Front_end/css/bootstrap.min.css" rel="stylesheet">
	<link href="Back_end/css/my_style.css" rel="stylesheet">
</head>
<body>
	
	<div class="container"> 
	  <div class="row" id="pwd-container">
	    <div class="col-md-4"></div>  
	    <div class="col-md-4">
	    	<%- partial('../Error/flash') %>
	      <section class="login-form">
	        <form method="post" action="/login" role="login">
	          <img src="Front_end/images/roya.png" class="img-responsive" alt="" />
	          
	          <input type="email" name="email" placeholder="Email" required class="form-control input-lg"/>         
	          <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="" /> 
	          <div class="pwstrength_viewport_progress"></div>          
	          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Log in</button>
	          <div>
	            <a href="/sign_in">Create account</a> or <a href="/reset_password">reset password</a>
	          </div>         
	        </form>        
	      </section>  
	      </div>    
	  </div>
	</div>
	<script src="Front_end/js/jquery.min.js"></script>
	<script src="Front_end/js/bootstrap.min.js"></script>
	<script src="Front_end/js/script.js"></script>
	<script src="Front_end/js/my_script.js"></script>
</body>

</html>