<section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="Front_end/images/roya.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">Trang chủ</a> </li>
                            <li><a href="#ABOUT">Giới thiệu </a> </li>
                            <li><a href="#FEATURES">Phụ kiện </a></li>
                            <li><a href="#SCREENS">Linh kiện</a> </li>
                            <li><a href="#CONTACT">Liên hệ </a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img style="width:225px" src="Front_end/images/roya.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Bạn cần một Template đẹp, chạy trên tất cả các thiết bị hiện đại.</h1>
                            <p>BENT là nơi bạn có thể tin tưởng.</p>

                            <div class="download-btn">
                             <!--    <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">Download</a>
                                <a class="tuor btn wow fadeInRight" href="#ABOUT">Take a tour <i class="fa fa-angle-down"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="home-iphone">
                            <img src="Front_end/images/web_responsive.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>